#### Libraries

In [3]:
import pandas as pd
import requests
import calendar

#### Calling the API and create Dataframes with Pandas

In [4]:
# Define the mapping of month names
months= {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}

# Define the base URL
base_url = 'https://apidatos.ree.es/es/datos/mercados/precios-mercados-tiempo-real?'

# Define common parameters
params = {
    'time_trunc': 'hour',
    'geo_limit': 'peninsular',
    'geo_ids': '8741'
}

# Initialize a list to store the DataFrames of prices for each month
dfs_monthly_prices = []

# Iterate through the months of the year 2022  / Get the last day of the current month

for month in range(1, 13):
    last_day = calendar.monthrange(2022, month)[1]

    # Define the start and end dates for each month
    start_date = f'2022-{month:02d}-01T00:00'
    end_date = f'2022-{month:02d}-{last_day:02d}T23:59'

    # Add the dates to the parameters
    params['start_date'] = start_date
    params['end_date'] = end_date

    # Make the HTTP request
    response = requests.get(base_url, params=params)
    data = response.json()

    # Extract the price data for the current month
    monthly_prices = data['included'][0]['attributes']['values']

    # Create a DataFrame for the current month and add it to the list
    df_month = pd.DataFrame(monthly_prices)
    dfs_monthly_prices.append(df_month)

    # Name the DataFrame with the month name in English
    month_name = months[month]
    globals()[f'df_prices_{month_name}'] = df_month

# Concatenate all the DataFrames into one for the entire year
df_yearly_prices = pd.concat(dfs_monthly_prices, ignore_index=True)

In [5]:
df_yearly_prices.head()

    value  percentage                       datetime
0  204.51           1  2022-01-01T00:00:00.000+01:00
1  171.35           1  2022-01-01T01:00:00.000+01:00
2  172.70           1  2022-01-01T02:00:00.000+01:00
3  156.07           1  2022-01-01T03:00:00.000+01:00
4  159.08           1  2022-01-01T04:00:00.000+01:00